nav{
    width: 100%;
    height: 10vh;
    background-color: rgba(23, 214, 145, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    backdrop-filter: blur(40px);
}

nav .logo{
    font-family: "Luckiest Guy", cursive;
    font-weight: bolder;
    font-style: normal;
    width: 15%;
}
  
nav .logo span:first-child{
    font-size: 40px;
    color: #001A14;
}
  
nav .logo span:last-child{
    font-size: 30px;
    color: #06322F;
}

nav .search-bar{
    display: flex;
    align-items: center;
    width: 32%;
    height: 100%;
}

nav .search-bar img{
    position: absolute;
    margin-left: 1.6%;
}

nav .search-bar input{
    width: 100%;
    height: 70%;
    border: 1.5px solid #001A14;
    border-radius: 40px;
    background-color: #fff;
    padding: 0px 15%;
    font-size: 16px;
    color: #666666;
}

nav .btn1{
    width: 16%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .btn1 button{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
    background-color: transparent;
    border: none;
    color: #001A14;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

nav .btn2{
    width: 8%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

nav .btn2 button{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 70%;
    background-color: transparent;
    border: none;
    color: #001A14;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}


nav .btn3{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .btn3 button{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 60%;
    background-color: #f9f9f9;
    border: 2.18px solid #555555;
    border-radius: 47.11px;
    color: #001A14;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin: 0px 5px;
}

nav .btn4{
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .btn4 button{
    background-color: transparent;
    height: 70%;
    border: none;
}

nav .btn4 button img{
    width: 80%;
    height: 80%;
}

/* nav-bar-ends here */
