<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Page</title>
    <link rel="stylesheet" th:href="@{/resources/css/account.css}">
</head>
<body>
    <div class="container">
        <div class="div1">
            <img th:src="@{/resources/svg/icons/Profile.svg}" alt="Profile Image"/>
        </div>
        <div class="div2">
            <div class="show-data">
                <div class="data-group">
                    <span class="title">Username</span>
                    <div>
                        <span class="data" th:if="${userData != null}" th:text="${userData.username}"></span>
                        <span class="data" th:if="${orgData != null}" th:text="${orgData.personName}"></span>
                    </div>
                </div>
                <div class="data-group">
                    <span class="title">Email</span>
                    <div>
                        <span class="data" th:if="${userData != null}" th:text="${userData.email}"></span>
                        <span class="data" th:if="${orgData != null}" th:text="${orgData.credentials.email}"></span>
                    </div>
                </div>
                <div class="data-group">
                    <span class="title">Type of User</span>
                    <div>
                        <span class="data" th:if="${userData != null}" th:text="${userData.userType.name()}"></span>
                        <span class="data" th:if="${orgData != null}" th:text="${orgData.userType.name()}"></span>
                    </div>
                </div>
                <div class="data-group">
                    <span class="title">Language</span>
                    <div>
                        <span class="data">English</span>
                    </div>
                </div>
                <div class="data-group">
                    <span class="title">Registration Date</span>
                    <div>
                        <span class="data" th:if="${userData != null}" th:text="${userData.registerDate}"></span>
                        <span class="data" th:if="${orgData != null}" th:text="${orgData.creationDate}"></span>
                    </div>
                </div>    
            </div>
            <div class="change-data">
                <strong>Do you want to change the details?</strong>
                <button>Change Details</button>
            </div>
        </div>
    </div>
</body>
</html>
