<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{/resources/css/home.css}">
    <link rel="stylesheet" th:href="@{/resources/css/footer.css}">
</head>
<body>
    <div class="container">
        <nav>
            <div class="logo">
                <span>LEARN</span>
                <span>Ledger</span>
            </div>
            <div class="search-bar">
                <img th:src="@{/resources/svg/icons/Magnifying glass.svg}" alt="">
                <input type="text" placeholder="Search for Notes , Projects and more" >
            </div>
            <div class="btn1">
                <button>Become a seller <img th:src="@{/resources/svg/icons/Store.svg}"/></button>
            </div>
            <div class="btn2">
                <button>Cart <img th:src="@{/resources/svg/icons/Trolley.svg}" alt=""></button>
            </div>
            <div class="btn3">
                <button th:if="${not (isUserLoggedIn ?: false)}" onclick="logIn()">Login <img th:src="@{/resources/svg/icons/User.svg}" alt=""></button>
                <button th:if="${isUserLoggedIn ?: false}" onclick="accountDetail()">Accounts <img th:src="@{/resources/svg/icons/User.svg}" alt=""></button>
            </div>
            <div class="btn4">
                <button><img th:src="@{/resources/svg/icons/More.svg}"></button>
                <div class="dropdown-content">
                    <a href="#">More</a>
                    <a href="#">About</a>
                    <a href="#">Services</a>
                </div>
            </div>
        </nav>
        <div class="tag-section">
            <span>Java</span>
            <span>Python</span>
            <span>Golang</span>
            <span>Kotlin</span>
        </div>
        <section class="section1">
           <div>
                <img th:src="@{/resources/svg/images/Notes.svg}" alt="">
                <h3 style="color: #EF5B09;">NOTES</h3>
           </div>
           <div>
                <img th:src="@{/resources/svg/images/Project.svg}" alt="">
                <h3 style="color: #5F5F5F;">PROJECTS</h3>
            </div>
           <div>
                <img th:src="@{/resources/svg/images/Pdf.svg}" alt="">
                <h3 style="color: #C25454;">PDFS</h3>
            </div>
           <div>
                <img th:src="@{/resources/svg/images/Docs.svg}" alt="">
                <h3 style="color: #548DD1;">DOCS</h3>
            </div> 
        </section>
        <!-- Section for Notes -->
        
        <div th:if="${error}" id="error-message">
            <p th:text="${error}"></p>
        </div>
        
        <div th:if="${notes != null and !#lists.isEmpty(notes)}" class="card-section">
            <strong>Best of Notes</strong>
            <div class="cards">
                <div class="card" th:each="note : ${notes}">
                    <div class="logo-div">
                        <img th:if="${note.files[0] != null and note.files[0].base64file != null}"
                            th:src="'data:' + ${note.files[0].fileType} + ';base64,' + ${note.files[0].base64file}"
                            alt="Card image"
                            th:alt="'Image for ' + ${note.title}">
                    </div>
                    <h4 th:text="${note.title}"></h4>
                    <p th:text="${note.description}"></p>
                </div>
            </div>
        </div>

        <!-- Section for Projects -->
        <div th:if="${projects != null and !#lists.isEmpty(projects)}" class="card-section">
            <strong>Best of Projects</strong>
            <div class="cards">
                <div class="card" th:each="project : ${projects}">
                    <div class="logo-div">
                        <img th:if="${project.files[0] != null and project.files[0].base64file != null}"
                            th:src="'data:' + ${project.files[0].fileType} + ';base64,' + ${project.files[0].base64file}"
                            alt="Card image"
                            th:alt="'Image for ' + ${project.title}">
                    </div>
                    <h4 th:text="${project.title}"></h4>
                    <p th:text="${project.description}"></p>
                </div>
            </div>
        </div>

        <!-- Section for PDFs -->
        <div th:if="${pdfs != null and !#lists.isEmpty(pdfs)}" class="card-section">
            <strong>Best of PDFs</strong>
            <div class="cards">
                <div class="card" th:each="pdf : ${pdfs}">
                    <div class="logo-div">
                        <img th:if="${pdf.files[0] != null and pdf.files[0].base64file != null}"
                            th:src="'data:' + ${pdf.files[0].fileType} + ';base64,' + ${pdf.files[0].base64file}"
                            alt="Card image"
                            th:alt="'Image for ' + ${pdf.title}">
                    </div>
                    <h4 th:text="${pdf.title}"></h4>
                    <p th:text="${pdf.description}"></p>
                </div>
            </div>
        </div>

        <div class="content-div">
            <h3>What we Offer</h3>
            <span><strong>Expertise Across Domains:</strong> Our skilled team brings a wealth of experience across various fields, from software development to design and consulting.</span>
            <br>
            <span><strong>Commitment to Quality:</strong> We uphold the highest standards of quality, ensuring that every deliverable exceeds your expectations.</span>
            <br>
            <span><strong>Solutions:</strong> We take a personalized approach to every project, delivering solutions that are specifically crafted to meet your requirements.</span>
        </div>
        
        <footer th:replace="fragments/footer :: footer"></footer>
    </div>
</body>
<script th:src="@{/resources/js/home.js}"></script>
</html>