<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <title>Learn Ledger</title>
  <link rel="stylesheet" th:href="@{/resources/css/index.css}">
  <link rel="stylesheet" th:href="@{/resources/css/footer.css}">
  <script th:src="@{/resources/js/section2.js}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <div class="parent">
    <div class="svg-bg"></div>
    <nav th:replace="fragments/navbar :: navbar"></nav>
    <section class="section1">
      <header>
        <strong><span>Welcome to </span><span>LearnLedger</span></strong>
        <h1 th:text="${randomH1}"></h1>
        <button onclick="getStarted()">Get Started !</button>
      </header>
    </section>
    <section th:replace="fragments/section2 :: section2"></section>
    <section class="section3">
      <div class="div1">
        <h1>Share your knowledge with our readers</h1>
        <button>Collaborate With Us</button>
      </div>
      <div class="div2">
        <div class="left-div">
          <div class="div1">
            <div class="stars">
              <img th:src="@{/resources/svg/icons/Star.svg}" alt="">
              <img th:src="@{/resources/svg/icons/Star.svg}" alt="">
              <img th:src="@{/resources/svg/icons/Star.svg}" alt="">
              <img th:src="@{/resources/svg/icons/Star.svg}" alt="">
              <img th:src="@{/resources/svg/icons/Star.svg}" alt="">      
            </div>
            <span class="s1">A Game-Changer for Buying and Selling Educational Materials</span>
            <span class="s2">I’ve been using this site for a few months now, and it’s been a game-changer. The variety of notes and projects available is impressive, and the ease of buying and selling is second to none.</span>
            <div class="lc">
              <div class="img"></div>
              <div class="other">
                <span>Aditya Pawar</span>
                <span>04/12/2023</span>
              </div>
            </div>
          </div>
          <div class="bottom-slider">
            <button class="prev">Previous</button>
            <div class="pagination">
              <button>0</button>
              <button>1</button>
            </div>
            <button class="next">Next</button>
          </div>
        </div>
        <div class="right-div">
          <h1><span>Search </span>With Tags</h1>
          <div class="btns">
            <button>Programming</button>
            <button>Technology</button>
            <button>Python</button>
            <button>Artificial Intelligence</button>
            <button>Java</button>
            <button>Generative AI</button>
            <button>Language Model</button>
            <button>Ruby On Rails</button>
            <button>Kotlin</button>
          </div>
        </div>
      </div>
    </section>
   <div th:replace="fragments/footer :: footer"></div>
  </div>
</body>
<script th:src="@{/resources/js/index.js}"></script>
</html>