<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form th:action="@{/joinUs/addOrg}"th:object="${org}" method="post">
            <input type="email" id="orgEmail"th:field="*{orgEmail}" placeholder="Enter emailpf organization" required="true"/>
            <input type="text"id="orgName" th:field="*{orgName}" placeholder="Enter Name of organization" required="true"/>
            <button type="submit">Join</button>
        </form>
    </body>
</html>
