<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" th:href="@{/resources/css/login.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <a href="#" class="back-icon" id="backButton">
            <img th:src="@{/resources/svg/icons/Back.svg}" />
        </a>
        <div class="content">
            <div class="left-content">
                <h1>Log in</h1>
                <form id="loginForm" method="POST">
                    <input id="email" name="email" type="email" placeholder="Email" aria-label="Enter your email" required>
                    <input id="password" name="password" type="password" placeholder="Password" aria-label="Enter your password" required>
                    <select id="typeofUser" name="typeOfUser">
                        <option value="USER">User</option>
                        <option value="ORGANIZATION">Organization</option>
                        <option value="ADMIN">Admin</option>
                    </select>
                    <a href="">Forgot Password?</a>
                    <div id="message-div">Message</div>
                    <button type="submit">Log in</button>
                </form>
                <span>Don’t have an account? <a href="">Register Here</a></span>
            </div>
            <div class="right-content"></div>
        </div>
        <span class="span1">Copyright @ 2024 Learn Ledger | Designed By Aditya Pawar</span>
    </div>

    <!-- JavaScript at the bottom -->
    <script th:src="@{/resources/js/login.js}"></script>
</body>
</html>
