<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organization</title>
    <link rel="stylesheet" th:href="@{/resources/css/organization.css}">
</head>
<body>
    <div class="container">
        <div class="upper-div">
            <a class="back-icon" href="#" id="back-icon">
                <img th:src="@{/resources/svg/icons/Back.svg}"/>
            </a>
            <div class="heading">
                <h1>Collaborate with Us</h1>
            </div>
        </div>
        <form action="">
            <section>
                <span>Organization Details</span>
                <div class="inputs">
                    <div class="form-group">
                        <label for="">Organization Name :</label>
                        <input type="text" placeholder="OrganizationXYZ" required>
                    </div>
                    <div class="form-group">
                        <label for="">Contact Person :</label>
                        <input type="text" placeholder="Contact Person" required>
                    </div>
                    <div class="form-group">
                        <label for="">Email Address :</label>
                        <input type="email" placeholder="email@example.com" required>
                    </div>
                    <div class="form-group">
                        <label for="">Phone Number :</label>
                        <input type="tel" placeholder="123-456-7890" required>
                    </div>
                    <div class="form-group">
                        <label for="">Website URL :</label>
                        <input type="url" placeholder="https://example.com">
                    </div>
                    <div class="form-group">
                        <label for="">Type of Notes :</label>
                        <select name="typesofNotes" id="" required>
                            <option value="Programming">Programming</option>
                            <option value="DSA">Data Structures and Algorithm</option>
                            <option value="UI">UI / UX notes</option>
                            <option value="language">Programming Language</option>
                        </select>
                    </div>
                </div>
            </section>
            <section>
                <span>Collaboration Details</span>
                <div class="inputs">
                    <div class="form-group1">
                        <label for="">Description of Offer :</label>
                        <textarea placeholder="Description..." required></textarea>
                    </div>
                    <div class="form-group2" style="width: 411.49px;">
                        <label for="">Target Audience :</label>
                        <div><input type="radio" name="targetAudience" value="highSchool" required><span>High School Students</span></div>
                        <div><input type="radio" name="targetAudience" value="university" required><span>University Students</span></div> 
                        <div><input type="radio" name="targetAudience" value="professionals" required><span>Professionals</span></div>
                    </div>                    
                </div>
            </section>
            <section>
                <span class="span1">Supporting Documents</span>
                <div class="inputs">
                    <div class="form-group11">
                        <label for="">Upload previous work sample :</label>
                        <div class="custom-file-upload">
                            <input type="file" id="previous-work-sample" class="file-input" required onchange="displayFileName(event)">
                            <label for="previous-work-sample" class="file-label">
                                <span id="file-name" class="file-name">Drag or drop your file</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group11">
                        <label for="business-license">Upload Business/License Registration:</label>
                        <div class="custom-file-upload">
                            <input type="file" id="business-license" class="file-input" required onchange="displayFileName(event)">
                            <label for="business-license" class="file-label">
                                <span id="file-name" class="file-name">Drag or drop your file</span>
                            </label>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <input type="checkbox" value="agreeInput" style="transform: scale(1.5);" required>
                <p style="color: #06322F; font-weight: 500;">By submitting this form, I confirm that I have read and agree to the <a href="" style="color: #001A14; font-weight: 600;">Terms and Conditions</a> and <a href="" style="color: #001A14; font-weight: 600;">Privacy Policy</a> of LearnLedger.
                    I understand that the information provided will be used to assess and facilitate potential collaboration.</p>
            </section>
            <section>
                <button type="submit">Submit</button>
            </section>
        </form>
    </div>
</body>
</html>
