<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<nav th:fragment="navbar2">
    <div class="logo">
        <span>LEARN</span>
        <span>Ledger</span>
    </div>
    <div class="search-bar">
        <img th:src="@{/resources/svg/icons/Magnifying glass.svg}" alt="">
        <input type="text" id="search-input" placeholder="Search for Notes , Projects and more" >
        <div class="search-data" id="search-data"></div>
    </div>
    <div class="btn1">
        <button>Become a seller <img th:src="@{/resources/svg/icons/Store.svg}"/></button>
    </div>
    <div class="btn2">
        <button>Cart <img th:src="@{/resources/svg/icons/Trolley.svg}" alt=""></button>
    </div>
    <div class="btn3">
        <button th:if="${not (isUserLoggedIn ?: false)}" onclick="logIn()">Login <img th:src="@{/resources/svg/icons/User.svg}" alt=""></button>
        <button th:if="${isUserLoggedIn ?: false}" onclick="accountDetail()">Accounts <img th:src="@{/resources/svg/icons/User.svg}" alt=""></button>
    </div>
    <div class="btn4">
        <button><img th:src="@{/resources/svg/icons/More.svg}"></button>
        <div class="dropdown-content">
            <a href="#">More</a>
            <a href="#">About</a>
            <a href="#">Services</a>
        </div>
    </div>
</nav>